<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>My GraveLeaks Contributions</h1>
    <div id="mymap"></div>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span>Date: <%= el.date %> Lat: <%= el.lat %> Lon: <%= el.lon %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has  things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="date" placeholder="DD-MM-YYYY" name='date'>
        <input type="text" placeholder="Latitude" name='latitude'>
        <input type="text" placeholder="Longitude" name='longitude'>
        <input type="text" placeholder="Description" name='description'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
    <script>
      let pointsData = <%- JSON.stringify(points) %>
      console.log(pointsData);
    </script>
    <script src="js/leaflet.js"></script>
</body>
</html>